{% extends "base.html" %}
{% load static %}
{% block head_css_page %}
	<link href="{% static "bio/css/style.css" %}" rel="stylesheet" media="screen">
{% endblock head_css_page %}
{% block content %}
<div class="container">
	<div class="row row-intro">
		<div class="col-md-2 profile-col">
			<img src="{% static "images/profile.png" %}" alt="profile pic" class="profile-image"> 
		</div>
		<div class="col-md-10">
			<h1>Software Engineer, Entrepreneur</h1>
		    <p>I have spent 19 years translating complex business needs into sophisticated, customer focused software solutions that are stable, secure, maintainable, scalable and user friendly. I have experience developing software within both Fortune 100 and startup environments. I am currently studying machine learning to deliver the next generation of smart applications.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Technology Summary</h2>
			<div class="tech-label">Languages:</div>
			<div class="tech-summary">C#, Java, ASP.NET, SQL <span class="tech-learn">Learning: Python, Octave</span></div>
			<div class="tech-label">Web Technologies:</div>
			<div class="tech-summary">HTML5, CSS3, Javascript, Bootstrap, jQuery, Handlebars <span class="tech-learn">Learning: Node, Express,  Angular, Mongoose, Sass</span></div>
			<div class="tech-label">Web Services:</div>
			<div class="tech-summary">JSON, XML, RESTful, AJAX, XSLT</div>
			<div class="tech-label">Frameworks:</div>
			<div class="tech-summary">.NET, MVC, Spring <span class="tech-learn">Learning: Django</span></div>
			<div class="tech-label">Editor/IDE:</div>
			<div class="tech-summary">Visual Studio, Eclipse, SublimeText, Atom, Notepad++</div>
			<div class="tech-label">Version Control:</div>
			<div class="tech-summary">Git, TFS</div>
			<div class="tech-label">Testing Tools:</div>
			<div class="tech-summary">Microsoft Unit Test Framework <span class="tech-learn">Learning: Django unittest</span></div>
			<div class="tech-label">Application Servers:</div>
			<div class="tech-summary">IIS, Apache/Tomcat <span class="tech-learn">Learning: Nginx/Gunicorn</span></div>
			<div class="tech-label">Databases:</div>
			<div class="tech-summary">MS SQL Server, MySQL, Oracle <span class="tech-learn">Learning:  PostgreSQL, MongoDB</span></div>
			<div class="tech-label">Operating Systems:</div>
			<div class="tech-summary">OS X, Windows, Linux (Red Hat, Ubuntu)</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Experience</h2>
			<div class="bio-container">
				<a href="http://insights.ironoak.energy/" target="_blank"><img src="{% static "bio/images/IronOak-Energy-Insights-Logo.png" %}" alt="IronOak Energy Insights"></a>
				<h3>Co-founder, CTO | 2012 – 2016</h3>
				<ul>
					<li>Developed and maintained a web application that curates news and information about the clean energy sector from across the web using various API's and a c# development framework.</li>
					<li>Ensured a secure and user friendly experience via defensive programming, responsive design, and AJAX.</li>
					<li>Created a platform for users to save their favorite articles (like Pocket).</li>
					<li>Built back office processes to allow for content management with no developer intervention.</li>
					<li>Managed a team of three software developers.</li>
				</ul>
				<div class="tech-env"><b>Technical Environment</b>: C#, SQL, HTML5, CSS3, Javascript, Bootstrap, jQuery, JSON, RESTful, AJAX, DNN, Git, IIS, MS SQL Server, Windows</div>
			</div>
			<div class="bio-container bio-container-bac">
				<img src="{% static "bio/images/Bank-of-America-Logo.gif" %}" alt="Bank of America">
				<h3>VP, Senior Software Engineer | 2013 – 2015</h3>
				<ul>
					<li>Designed and supported a variety of applications including a new version of a ticketing system utilized by over 50,000 bank associates.</li>
					<li>Involved in the entire software development life cycle including gathering business requirements, high/low level design, programming, code review, unit testing, submitting code security scans, and handling feedback from user acceptance testing.</li>
				</ul>
				<div class="tech-env"><b>Technical Environment</b>: Java, SQL, Spring, Eclipse, Apache/Tomcat, MySQL, Linux (Red Hat), C#, HTML5, CSS3, Javascript, jQuery, JSON, AJAX, TFS, Microsoft Unit Test Framework, IIS, MS SQL Server, Windows</div>
				<h3>VP, Software Engineer | 2007 – 2013</h3>
				<ul>
					<li>Developed several data entry pages to support operational reporting.</li>
					<li>Reworked data parsing application to improve error handling and security while also making it easier to configure the application to write data to new database servers.</li>
					<li>Made enhancements to ticketing system and on-boarded/configured new teams to use the application.</li>
				</ul>
				<div class="tech-env"><b>Technical Environment</b>: Java, SQL, Spring, Eclipse, Apache/Tomcat, MySQL, Linux (Red Hat), C#, HTML5, CSS3, Javascript, jQuery, JSON, AJAX, TFS, Microsoft Unit Test Framework, IIS, MS SQL Server, Windows</div>
				<h3>AVP, Senior Database Architect | 2003 – 2007</h3>
				<ul>
					<li>Architect for data models to support large and complex data sets.</li>
					<li>Created a database to house over 25 million credit card transactions totaling nearly $5 billion in order to facilitate the detection of and reduction in fraud.</li>
					<li>Rewrote batch processing system to use purely SQL (previously utilized VB application) to improve troubleshooting and maintainability for database team.</li>
				</ul>
				<div class="tech-env"><b>Technical Environment</b>: C#, SQL, SourceSafe, XML, MS SQL Server, Windows</div>
				<h3>Application Development Manager | 2001 – 2003</h3>
				<ul>
					<li>Managed a team of three developers.</li>
					<li>Gathered business requirements for projects and translated into high level designs.</li>
				</ul>
				<div class="tech-env"><b>Technical Environment</b>: C#, HTML, CSS, Javascript, SourceSafe, IIS, MS SQL Server, Windows</div>
				<h3>Database Developer | 1998 – 2001</h3>
				<ul>
					<li>Built a batch processing system to automatically load thousands of files and handle processing dependencies to ensure code was executed in the correct order.</li>
					<li>Worked on an associate incentive algorithm which ranked people across various departments performing an array of tasks, and was utilized to pay bonuses.</li>
					<li>Created and optimized SQL Server jobs using DTS and Stored Procedures.</li>
				</ul>
				<div class="tech-env"><b>Technical Environment</b>: Visual Basic, MS SQL Server, Windows</div>
				<h3>Information Management Senior Analyst | 1997 – 1998</h3>
				<ul>
					<li>Developed front end reporting tools using VBA within Microsoft Access.</li>
					<li>Created Visual Basic executables for report file parsing and to check for new files.</li>
					<li>Built nightly process to repair and compact Access databases.</li>
				</ul>
				<div class="tech-env"><b>Technical Environment</b>: Visual Basic, MS SQL Server, MS Access, Windows</div>
			</div>
			<div class="bio-container">
				<h3>Self Employed, Software Consultant | 2006 – 2012</h3>
				<ul>
					<li>Built web and database solutions for small businesses.</li>
				</ul>
				<div class="tech-env"><b>Technical Environment</b>: C#, HTML, CSS, Javascript, IIS, Visual Basic, MS Access, MS SQL Server, Windows</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Education</h2>
			<div class="bio-container">
				<img src="{% static "bio/images/Creighton.jpg" %}" alt="Creighton University">
				<h3>Bachelor of Arts in Psychology | 1992 – 1996</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Training</h2>
			<div class="bio-container">
				<img src="{% static "bio/images/Coursera.png" %}" alt="Coursera">
				<h3>Machine Learning | 2016 – present</h3>
			</div>
			<div class="bio-container">
				<img src="{% static "bio/images/New-Horizons.png" %}" alt="New Horizons">
				<h3>Visual Studio, VB, SQL Server, Cognos | 1999 – 2005</h3>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
